In [37]:
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [38]:
file_path = Path("Data/cleaned_data.csv")
df= pd.read_csv(file_path)

In [39]:
y = df['rating']
x = df.drop(columns=['rating', 'image_url', 'url', 'id', 'name']) 
#X = df.drop(columns='rating')

In [40]:
from sklearn import preprocessing
from sklearn import utils

lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

In [41]:
X= x.fillna(0)

In [42]:
X.head(20)

,is_closed,review_count,transactions,price,group_city,cuisines,latitude,longitude,state
0,False,6101,"delivery, pickup",2,New York City,Italian,40.742101,-73.989922,NY
1,False,5028,"delivery, pickup",1,New York City,Italian,40.723088,-73.994530,NY
2,False,4828,"pickup, delivery",2,New York City,Italian,40.733798,-73.999774,NY
3,False,4648,"delivery, pickup",2,New York City,Italian,40.594715,-73.981316,NY
4,False,4640,"delivery, pickup",2,New York City,Italian,40.757498,-73.986653,NY
5,False,3812,delivery,2,New York City,Mexican,40.742255,-74.005958,NY
6,False,3317,"pickup, delivery",2,New York City,Mexican,40.722930,-73.994190,NY
7,False,3314,"delivery, pickup",2,New York City,Italian,40.704930,-73.933990,NY
8,False,3150,pickup,2,New York City,Italian,40.722766,-73.996233,NY
9,False,3138,"delivery, pickup",3,New York City,Italian,40.760830,-73.989810,NY
10,False,2909,"pickup, delivery",1,New York City,Italian,40.732063,-74.003655,NY
11,False,2844,0,2,New York City,Mexican,40.561161,-74.301079,NJ
12,False,2823,delivery,2,New York City,Mexican,40.757507,-73.987772,NY
13,False,2768,"restaurant_reservation, delivery, pickup",3,New York City,Italian,40.772193,-73.955615,NY
14,False,2670,"delivery, pickup",2,New York City,Italian,40.759876,-73.986767,NY
15,False,2603,"pickup, delivery",4,New York City,Italian,40.732283,-73.999284,NY
16,False,2593,"delivery, pickup",3,New York City,Italian,40.756410,-73.985470,NY
17,False,2490,"delivery, pickup",2,New York City,Italian,40.758230,-73.988360,NY
18,False,2392,"pickup, delivery",2,New York City,Italian,40.729431,-73.984541,NY
19,False,2360,"delivery, pickup",3,New York City,Italian,40.733720,-74.005130,NY

In [43]:
X =pd.get_dummies(X).astype(int)
X.head()

,is_closed,review_count,price,latitude,longitude,transactions_0,transactions_delivery,"transactions_delivery, pickup","transactions_delivery, pickup, restaurant_reservation","transactions_delivery, restaurant_reservation",...,state_ON,state_OR,state_PA,state_PE,state_SC,state_TN,state_TX,state_VA,state_WA,state_WI
0,0,6101,2,40,-73,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,5028,1,40,-73,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,4828,2,40,-73,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,4648,2,40,-73,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,4640,2,40,-73,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y_transformed, random_state=1)

In [45]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)

X_test_scaled = X_scaler.transform(X_test)

In [46]:
model2 = tree.DecisionTreeClassifier()

In [47]:
model2 = model2.fit(X_train_scaled, y_train)

In [48]:
predictions = model2.predict(X_test_scaled)

In [49]:
print(classification_report(predictions, y_test))

              precision    recall  f1-score   support

           0       0.06      0.04      0.05        23
           1       0.16      0.15      0.15       102
           2       0.17      0.16      0.17       233
           3       0.15      0.13      0.14       339
           4       0.16      0.17      0.17       487
           5       0.31      0.29      0.30      1202
           6       0.39      0.41      0.40      1516
           7       0.23      0.24      0.23       753
           8       0.22      0.20      0.21       132

    accuracy                           0.28      4787
   macro avg       0.21      0.20      0.20      4787
weighted avg       0.28      0.28      0.28      4787

In [50]:
cm2 = confusion_matrix(y_test, predictions)
cm_df2 = pd.DataFrame(
    cm2, index=[""], columns=['']
)

ac_score2= accuracy_score(y_test, predictions)

ValueError: Shape of passed values is (9, 9), indices imply (1, 1)

In [ ]:
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {ac_score}")
print(classification_report(y_test, predictions))