In [92]:
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [93]:
file_path = Path("Data/cleaned_data.csv")
df= pd.read_csv(file_path)

In [94]:
df['delivery'] = df['transactions'].str.contains('delivery', case=False, na=False)
df['pickup'] = df['transactions'].str.contains('pickup', case=False, na=False)
df['restaurant_reservation'] = df['transactions'].str.contains('restaurant_reservation', case=False, na=False)

# Fill NaN values with False in the new columns
df['delivery'] = df['delivery'].fillna(False)
df['pickup'] = df['pickup'].fillna(False)
df['restaurant_reservation'] = df['restaurant_reservation'].fillna(False)

In [95]:
y = df['price']
x = df.drop(columns=['price', 'image_url', 'url', 'id', 'name', 'transactions']) 
#X = df.drop(columns='rating')

In [96]:
from sklearn import preprocessing
from sklearn import utils

lab = preprocessing.LabelEncoder()
y_transformed = lab.fit_transform(y)

In [97]:
X= x.fillna(0)

In [98]:
X.head(20)

,is_closed,review_count,rating,group_city,cuisines,latitude,longitude,state,delivery,pickup,restaurant_reservation
0,False,6101,4.0,New York City,Italian,40.742101,-73.989922,NY,True,True,False
1,False,5028,4.5,New York City,Italian,40.723088,-73.994530,NY,True,True,False
2,False,4828,4.5,New York City,Italian,40.733798,-73.999774,NY,True,True,False
3,False,4648,4.0,New York City,Italian,40.594715,-73.981316,NY,True,True,False
4,False,4640,4.0,New York City,Italian,40.757498,-73.986653,NY,True,True,False
5,False,3812,4.5,New York City,Mexican,40.742255,-74.005958,NY,True,False,False
6,False,3317,4.0,New York City,Mexican,40.722930,-73.994190,NY,True,True,False
7,False,3314,4.0,New York City,Italian,40.704930,-73.933990,NY,True,True,False
8,False,3150,4.5,New York City,Italian,40.722766,-73.996233,NY,False,True,False
9,False,3138,3.5,New York City,Italian,40.760830,-73.989810,NY,True,True,False
10,False,2909,4.0,New York City,Italian,40.732063,-74.003655,NY,True,True,False
11,False,2844,4.0,New York City,Mexican,40.561161,-74.301079,NJ,False,False,False
12,False,2823,4.5,New York City,Mexican,40.757507,-73.987772,NY,True,False,False
13,False,2768,4.0,New York City,Italian,40.772193,-73.955615,NY,True,True,True
14,False,2670,4.0,New York City,Italian,40.759876,-73.986767,NY,True,True,False
15,False,2603,4.0,New York City,Italian,40.732283,-73.999284,NY,True,True,False
16,False,2593,4.0,New York City,Italian,40.756410,-73.985470,NY,True,True,False
17,False,2490,4.0,New York City,Italian,40.758230,-73.988360,NY,True,True,False
18,False,2392,4.0,New York City,Italian,40.729431,-73.984541,NY,True,True,False
19,False,2360,4.5,New York City,Italian,40.733720,-74.005130,NY,True,True,False

In [99]:
X =pd.get_dummies(X).astype(int)
X.head()

,is_closed,review_count,rating,latitude,longitude,delivery,pickup,restaurant_reservation,group_city_Albuquerque,group_city_Atlanta,...,state_ON,state_OR,state_PA,state_PE,state_SC,state_TN,state_TX,state_VA,state_WA,state_WI
0,0,6101,4,40,-73,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,5028,4,40,-73,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,4828,4,40,-73,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,4648,4,40,-73,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,4640,4,40,-73,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
X_train, X_test, y_train, y_test = train_test_split(X, y_transformed, random_state=42)

In [101]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)

X_test_scaled = X_scaler.transform(X_test)

In [102]:
model2 = tree.DecisionTreeRegressor()

In [103]:
model2 = model2.fit(X_train_scaled, y_train)

In [104]:
predictions = model2.predict(X_test_scaled)

In [105]:
from sklearn import metrics
import numpy as np

#print('Mean Absolute Error (MAE):', metrics.mean_absolute_error(y_test, predictions))
#print('Mean Squared Error (MSE):', metrics.mean_squared_error(y_test, predictions))
#print('Root Mean Squared Error (RMSE):', np.sqrt(metrics.mean_squared_error(y_test, predictions)))
#mape = np.mean(np.abs((y_test - predictions) / np.abs(y_test)))
#print('Mean Absolute Percentage Error (MAPE):', round(mape * 100, 2))
#print('Accuracy:', round(100*(1 - mape), 2))


# Calculate error metrics
mae = metrics.mean_absolute_error(y_test, predictions)
mse = metrics.mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)
#mape = np.mean(np.abs((y_test - predictions) / y_test))
#accuracy = 100 * (1 - mape)

# Print results
print(f'Mean Absolute Error (MAE): {mae:.2f}')
print(f'Mean Squared Error (MSE): {mse:.2f}')
print(f'Root Mean Squared Error (RMSE): {rmse:.2f}')

Mean Absolute Error (MAE): 0.50
Mean Squared Error (MSE): 0.62
Root Mean Squared Error (RMSE): 0.79

In [107]:
#print(classification_report(predictions, y_test))

In [108]:
#cm2 = confusion_matrix(y_test, predictions)
#cm_df2 = pd.DataFrame(
    #cm2, index=[""], columns=['']
#)

#ac_score2= accuracy_score(y_test, predictions)

In [ ]:
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {ac_score}")
print(classification_report(y_test, predictions))